models/*

figures/monitor/*
figures/wf_slices

.DS_store

.venv*

*pyc
*swp

dvc-remote-data*
*notes.md

# Exceptions
!figures/monitor/.gitkeep
!models/.gitkeep
Curso/6/Jupyter scripts - Day 6/burgers_data_R10.mat
Curso/2-1/snap_shots/image*
